
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Bu View sayfasını Emre oluşturdu.</h3>
<table>
    <tr>
        <th>ID </th>
        <th> Ad</th>
        <th> Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td> Rumeysa Erkenez</td>
        <td> Tekstil </td>
    </tr>
    <tr>
        <td>2</td>
        <td> Huseyin Emre </td>
        <td> Yazılım </td>
    </tr>
</table>
